[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
"login" = "invoke login"
"list-files" = "invoke list-files"
"search" = "invoke search"
"links" = "invoke links"

[dev-packages]

[packages]
clipboard = "*"
tabulate = "*"
python-levenshtein = "*"
invoke = "*"
